.app {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.addHome {
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
}

h1 {
  margin-bottom: 50px;
  margin-top: 30px;
}

.students {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  align-items: center;

}

.student {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
}



button {
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
}

.delete {
  border: 1px solid rgb(193, 131, 131);
  background-color: antiquewhite;
  color: rgb(238, 64, 64);
  border-radius: 5px;
  margin-left: 50px;
}
.delete:hover{
  background-color: rgb(178, 190, 157);
}

.update {
  border: 1px solid rgb(54, 181, 124);
  background-color: rgb(130, 217, 132);
  border-radius: 5px;
  color: rgb(70, 70, 106);
  border-color: rgb(5, 96, 40) ;
  margin-left: 50px;
}

.update:hover{
  background-color: rgb(149, 216, 216);
}




.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
}

textarea {
  padding: 10px;
}

button {
  border: none;
  padding: 10px;
  background-color: white;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 20px;
  margin-bottom: 40px;

}

Button{
  margin-top: 40px;
}

/* ================add and update form */

.formcontainer{
  background-color: rgb(247, 247, 247);
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;


}

.formWrapper{
  background-color: rgb(196, 221, 243);
  border-radius: 10px;
  display: flex; 
  width: 20%;
  height: 35vh;
  flex-direction: column;
  gap:30px;
  align-items: center;
}

.logo{
  font-weight: bold;
  font-size: 35px;
  margin-top: 30px;
  font-family:Lobster ;

}

/* .title{
  font-size: 25px;
  color: rgb(159, 84, 84);
  font-weight: bold;
} */

input{
  padding: 15px;
  border: none;
  border-bottom: 1px solid rgb(193, 142, 142);
  width: 250px;
  text-decoration: none;
  border-radius: 10px;
}


form{
  display: flex;
  border-color: red;
  /* padding:60px,100px ; */
  align-items: center;
  box-shadow: 10px;
  justify-content: center;
  flex-direction: column;
  gap:20px
    
}

Link{
  margin-bottom: 20px;
}

/* navbar */
.nav{
 
  
}





